<?xml version="1.0" encoding="utf-8" ?>
<beans>
    <bean id="aService" class="com.tiny.spring.test.service.impl.AServiceImpl">
        <property type="com.tiny.spring.test.bean.A" name="a" ref="a1"/>
    </bean>

    <bean id="b1" class="com.tiny.spring.test.bean.B">
        <property name="property1" value="property1"/>
        <property name="property2" value="property2"/>
        <property type="com.tiny.spring.test.bean.A" name="a" ref="a1"/>
    </bean>

    <bean id="c1" class="com.tiny.spring.test.bean.C"/>

    <!--setter 注入-->
    <bean id="a1" class="com.tiny.spring.test.bean.A">
        <property name="property1" value="property1"/>
        <property name="property2" value="property2"/>
        <property name="property3" value="property3"/>
        <property type="Integer" name="age" value="24"/>
        <property type="com.tiny.spring.test.bean.B" name="b" ref="b1"/>
    </bean>

    <!--构造器 注入-->
    <bean id="a2" class="com.tiny.spring.test.bean.A">
        <constructor-arg name="property1" value="property1"/>
        <constructor-arg name="property2" value="property2"/>
        <constructor-arg name="property3" value="property3"/>
        <property type="Integer" name="age" value="24"/>
    </bean>

    <!--jdbc 相关内容 start-->
    <bean id="jdbcTemplate" class="com.tiny.spring.jdbc.core.JdbcTemplate">
        <!--采用@Autowired实现-->
        <!--        <property name="dataSource" type="javax.sql.DataSource" ref="dataSource"/>-->
    </bean>
    <bean id="userService" class="com.tiny.spring.test.jdbc.service.UserService"/>
    <bean id="dataSource" class="com.tiny.spring.jdbc.pool.PooledDataSource">
        <property type="String" name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://localhost:3306/spring"/>
        <property type="String" name="username" value="root"/>
        <property type="String" name="password" value="root"/>
        <property type="int" name="initialSize" value="3"/>
    </bean>

    <bean id="sqlSessionFactory" class="com.tiny.spring.batis.DefaultSqlSessionFactory">
        <property type="String" name="mapperLocations" value="mapper"/>
    </bean>
    <!--jdbc 相关内容 end-->

    <!-- aop 相关bean-->
    <bean id="realAction" class="com.tiny.spring.test.aop.ActionImpl"/>
    <bean id="myAfterReturningAdvice" class="com.tiny.spring.test.aop.MyAfterReturningAdvice"/>
    <bean id="advisor" class="com.tiny.spring.aop.support.NameMatchMethodPointcutAdvisor">
        <property type="com.tiny.spring.aop.aopalliance.aop.Advice" name="advice" ref="myAfterReturningAdvice"/>
        <property type="String" name="mappedName" value="do*"/>
    </bean>
    <bean id="action" class="com.tiny.spring.aop.framework.ProxyFactoryBean">
        <property name="target" type="java.lang.Object" ref="realAction"/>
        <property name="interceptorName" type="java.lang.String" value="advisor"/>
    </bean>
</beans>