<?xml version="1.0" encoding="utf-8" ?>
<beans>
    <bean id="aService" class="com.tiny.spring.test.service.impl.AServiceImpl">
        <property type="com.tiny.spring.test.bean.A" name="a" ref="a1"/>
    </bean>

    <bean id="b1" class="com.tiny.spring.test.bean.B">
        <property name="property1" value="property1"/>
        <property name="property2" value="property2"/>
        <property type="com.tiny.spring.test.bean.A" name="a" ref="a1"/>
    </bean>

    <bean id="c1" class="com.tiny.spring.test.bean.C"/>

    <!--setter 注入-->
    <bean id="a1" class="com.tiny.spring.test.bean.A">
        <property name="property1" value="property1"/>
        <property name="property2" value="property2"/>
        <property name="property3" value="property3"/>
        <property type="Integer" name="age" value="24"/>
        <property type="com.tiny.spring.test.bean.B" name="b" ref="b1"/>
    </bean>

    <!--构造器 注入-->
    <bean id="a2" class="com.tiny.spring.test.bean.A">
        <constructor-arg name="property1" value="property1"/>
        <constructor-arg name="property2" value="property2"/>
        <constructor-arg name="property3" value="property3"/>
        <property type="Integer" name="age" value="24"/>
    </bean>
</beans>